<%- include('layouts/header') %>
  <%- include('layouts/navbar') %>
    <div class="container">
      <h1>
        <%= tittle %>
      </h1>
      <div class="container">
        <div class="col-4">
          <table class="table table-responsive table-hover">
            <thead>
              <tr>
                <th scope="col-2">#</th>
                <th scope="col-4">Name</th>
                <th scope="col-4">Email</th>
              </tr>
            </thead>
            <tbody>
              <% if (contact.length===0) { %>
                <tr>
                  <td></td>
                  <td style="text-align : center;">Contact is empty</td>
                  <td></td>
                </tr>
                <% } %>
                  <% i=1 %>
                    <% contact.forEach(e=> { %>
                      <tr>
                        <th scope="row">
                          <%= i %>
                        </th>
                        <td>
                          <%= e.name %>
                        </td>
                        <td>
                          <%= e.email %>
                        </td>
                      </tr>
                      <% i++ %>
                        <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <%- include('layouts/footer') %>